.headerimg {
    display: block;
    margin-left:auto;
    margin-right: auto;
    width:80%;
    border-radius: 15px;
    z-index: -1;
    /*object-fit: cover;*/
    margin-top: -50px;
    position: static;
}
.introimg {
    border:2px solid white;
    border-radius: 15px;
    width:40%;
}
.intro {
    /*z-index: 1;*/
    /*position: absolute;*/
}
.header {
    margin-top:-100px;
    margin-left: auto;
    margin-right: auto;
    width:50%;
    background-color: grey;
    z-index: 1;
    position: relative;
}
.content {
    background-color: green;
}